# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store
*.pyc

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.vscode

# Output and input files (Strace log analysis)
io_tracing/strace_outputs/
io_tracing/images/
opened_files/

**/__pycache__/
**/bin/
